@import '../../../../../assets/styles/variables';

.gallery-item {
  cursor: pointer;

  &.selected-to-annotate {
    background-color: $primary-light;
  }

  &.outlined {
    outline: solid $primary;
  }

  .menu {
    margin: 1rem;
  }
}

::ng-deep.form-check-inline {
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}