.ds-icon {
    width: 26px;
    height: 26px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 10px;
}

.ds-title {
    padding-left: 30px;
}

.dropdown-form-input {
    padding-top: 6px;
    padding-bottom: 6px;
}