<div class="modal-header fw-bold border-0">
  <span class="modal-title">{{ 'common.modal.delete.title' | transloco }}</span>
  <button type="button" class="btn-close" (click)="close()"></button>
</div>
<div class="modal-body">
  <div class="d-flex flex-column align-items-center justify-content-center gap-4">
    <img src="assets/images/delete-icon.svg" />
    {{ message || 'common.modal.delete.common_message' | transloco }}
  </div>
</div>
<div class="modal-footer d-flex justify-content-between pb-4 border-0">
  <button type="button" class="btn btn-outline-dark btn-standard" (click)="close()">
    {{ 'common.close' | transloco }}
  </button>
  <button type="button" class="btn btn-danger btn-standard" (click)="submit()">
    {{ 'common.modal.delete.title' | transloco }}
  </button>
</div>
