<div
  *ngIf="!closed"
  class="sidebar d-flex flex-column gap-2 bg-white"
  [ngClass]="{ closed: closed }"
>
  <div class="d-flex gap-2 p-3 logo-wrapper">
    <img class="w-100 h-100" src="assets/images/logo.png" />
  </div>
  <div class="h-100 w-100 d-flex flex-column justify-content-between">
    <div class="list-group">
      <ng-template
        *ngFor="let route of routes"
        [ngTemplateOutlet]="listItem"
        [ngTemplateOutletContext]="{ route }"
      ></ng-template>
    </div>
  </div>
</div>

<ng-template #listItem let-route="route">
  <a
    class="list-group-item rounded-0 d-flex align-items-center gap-3"
    [routerLink]="route.value"
    [routerLinkActive]="['active-route']"
    role="button"
    [queryParamsHandling]="'merge'"
  >
    <div  class="sidebar-icon position-relative d-flex align-items-center justify-content-center">
      <i class="material-icons mi-24">{{route.icon}}</i>
    </div>
    <span class="name text-nowrap"> {{ route.name | transloco }}</span>
  </a>
</ng-template>
