$primary-color: #F25457;
$primary-light: #33a6dd;
$anomaly-color: #e08787;
$dark-color: #0C2929;
$spinner-animation-speed: 1.3s;

$primary: $primary-color;
$dark: $dark-color;
$table-striped-bg-factor: .03;
$tooltip-max-width: 250px;